

.bg-light {
    background-color: white!important;
}





.title {
    font-size: 36px;
}


.item-nav {
    cursor: pointer;
}


.swal2-header {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
}


.swal2-image {
    margin: 0!important;
    margin-bottom: 10px;
}


.selected {
    color: rgb(77, 89, 166);
}

#btnOrder, #btnNext, #btnStart, #feedbackBtn {
    background-color: rgb(77, 89, 166);
    border-color: rgb(77, 89, 166);
}


.btn-openeva {
    border-radius: 0 !important;
    border-color: rgb(91, 201, 221) !important;
    background-color: rgb(91, 201, 221) !important;
}

#cartClear {
    margin-top: -14px;
    margin-right: -8px
}